<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de tarefas</li>
  </ol>
</nav>
<div class="container">
  <div class="card list-task">
     <div class="card add-task">
         <h5 class="card-header">Adicionar/Atualizar tarefa</h5>
          <button type='reset' class="btn btn-secondary btn-add-task" (click)="newTask()">New</button>
         <div *ngIf="newTaskValue" class="card-body">
             <form id="add-form" (ngSubmit)="f.form.valid && saveTask(f)" #f="ngForm" novalidate>
               <div class="form-group">
                   <label for="description">Descrição</label>
                   <textarea [(ngModel)]="task.description" id="description" name="description" #model="ngModel" required class="form-control" placeholder="Descreva sua nova tarefa"></textarea>
               </div>
               <div class="form-group">
                   <label for="owner">Responsável</label>
                   <input type="text" [(ngModel)]="task.owner" id="owner" name="owner" #model="ngModel" required class="form-control" placeholder="Quem é o responsável?">
               </div>
               <div class="form-group">
                   <label for="email">E-mail</label>
                   <input type="text" [(ngModel)]="task.email" id="email" name="email" #model="ngModel" required class="form-control" placeholder="Qual o e-mail do responsável?">
               </div>
               <div class="form-group">
                   <label for="changes">Mudanças</label>
                   <input type="number" [(ngModel)]="task.changes" id="changes" name="changes" #model="ngModel" class="form-control" [value]=0>
               </div>
               <div class="form-group">
                   <label for="done">Concluída</label>
                   <input type="checkbox" [(ngModel)]="task.done" id="done" name="done" #model="ngModel">
               </div>
               <!-- <div class="form-group">
                   <label for="color">Cor</label>
                   <input type="text" [(ngModel)]="task.color" id="color" name="color" #color="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && color.invalid }" placeholder="Digite a cor">
                   <div *ngIf="f.submitted && color.invalid" class="invalid-feedback">
                       <div *ngIf="color.errors.required">Cor é obrigatória</div>
                   </div>
               </div>
               <div class="form-group">
                   <label for="price">Preço</label>
                   <input type="number" [(ngModel)]="task.price" id="price" name="price" #price="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && price.invalid }" placeholder="Digite o preço">
                   <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
                       <div *ngIf="price.errors.required">Preço é obrigatório</div>
                   </div>
               </div> -->
               <button type="submit" class="btn btn-primary btn-add-task">Salvar</button>
               <button type="reset" class="btn btn-secondary btn-add-task" (click)="cleanForm(f)">Cancelar</button>
             </form>
         </div>
       </div>
    <h5 class="card-header">Tarefas ainda por fazer</h5>
    <div class="card-body">
      <table class="table">
          <thead>
            <tr>
              <!-- <th scope="col">Id</th> -->
              <th scope="col">Descrição</th>
              <th scope="col">Responsável</th>
              <th scope="col">Email</th>
              <th scope="col">Mudanças</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasksUndone">
              <!-- <td>{{task.id}}</td> -->
              <td>{{task.description}}</td>
              <td>{{task.owner}}</td>
              <td>{{task.email}}</td>
              <td>{{task.changes}}</td>
              <!-- <td>{{task.done ? 'Sim' : 'Não'}}</td> -->
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editTask(task)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteTask(task)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
        <h5 class="card-header">Tarefas concluidas</h5>
    <div class="card-body">
      <table class="table">
          <thead>
            <tr>
              <!-- <th scope="col">Id</th> -->
              <th scope="col">Descrição</th>
              <th scope="col">Responsável</th>
              <th scope="col">Email</th>
              <th scope="col">Mudanças</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasksDone">
              <!-- <td>{{task.id}}</td> -->
              <td>{{task.description}}</td>
              <td>{{task.owner}}</td>
              <td>{{task.email}}</td>
              <td>{{task.changes}}</td>
              <!-- <td>{{task.done ? 'Sim' : 'Não'}}</td> -->
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editTask(task)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteTask(task)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

</div>